<div class="container">
    <div class="row">
        <div class= "col s12 m6 left">
            <ul id="burgerMenu" class="collection with-header">
                <li class="collection-header blue"><h4 class="white-text">Burgers</h4></li>
                {{#each burgers}}
                    {{#unless this.devoured}}
                <li class="collection-item">{{this.burger_name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
          			    <button class="btn blue darken-2" type="submit">Devour</button>
                    </form>
                </li>
                 {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col s12 m6 right">
            <ul class="collection with-header">
                <li class="collection-header amber"><h4 class="white-text">Eaten Burgers</h4></li>
                {{#each burgers}}
                    {{#if this.devoured}}  
                <li class="collection-item">{{this.burger_name}}
                    <form action="/{{this.id}}?_method=DELETE" method="POST">
          			<button class="btn red darken-2" type="submit">Delete</button>
                    </form>
                </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form action="/" method="POST">
            <div class="input-field col s12">
                <p class="big-text blue-text">Add a burger</p>
                <input id="burgerInput" pattern=".{3,}" required type="text" name="burger_name" placeholder="Cheeseburger">
                <button id="submitBtn" class="btn waves-effect waves-light amber" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
            </div>
        </form>
    </div>
</div>




{{!-- <h1>Eat That Burger!</h1>

<h2>Burgers I haven't eaten</h2>

<ul>
  {{#each burgers}}
    {{#unless this.eaten}}
      <li>
        {{this.name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="eaten" value="false">
          <button type="submit">EAT IT</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers I've eaten</h2>

<ul>
  {{#each  burgers}}
    {{#if this.eaten}}
      <li>
        {{this.name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="eaten" value="true">
          <button type="submit">UN-EAT IT</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="burger">Burger name</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form> --}}